.block-header {
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &--active {
        background-color: #ffa74d;
        color: #fff;
    }
}
